name: GitHub Stats

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Generate stats image
        uses: cicirello/user-statistician@v1
        with:
          colors: dark
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
